// Variables de Marca
$violeta: #4b3669;
$violeta-claro: #624b85;
$violeta-oscuro: #3a2a52;
$dorado: #c8a35b;
$blanco-roto: #f9f9f9;
$naranja: #ff8c00;
$naranja-hover: #e67e00;

$primary-color: #ff6b00; // Tu naranja actual
$secondary-color: #333333;
$bg-light: #f9f9f9;
$white: #ffffff;
$border-radius: 10px;
$transition: all 0.3s ease;

// Variables CSS (Para la futura funcionalidad dinámica)
:root {
  // Estas variables las podrá sobreescribir el cliente
  --primary-color: #ff6b00; 
  --border-radius: 8px;
  --logo-width: 200px;
}

$p-color: var(--primary-color);
